/*
* Place any custom styles for Presentybox here
*/

.cta-hover span {
    display: inline-block;
    border: 2px solid #ff0;
    border-radius: 3px;
    color: #fff;
    padding: 10px 20px!important;
    text-transform: uppercase;
    color: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}